{% extends 'base.html' %}

{% block title %}
    {{ super() }} O nas
{% endblock title %}


{% block container %}
    <div class="row mt-5 mb-5 pt-5 pb-5">
        <div class="col">
            <h1 class="text-white title">O nas</h1>
            <h4 class="text-white">Gains.com jest rodzinnym biznesem sprzedajacym o raz wytwarzającym profesjonalne wyposażenie siłowni
            </h4>
        </div>
    </div>
    <div class="row mt-5 pt-5 pb-5">
        <div class="col">
            <h1 class="text-white title">Obsługa/Wykonanie</h1>
            <h4 class="text-white">Nasz sprzęt wykonujemy z najlepszej jakości materiałów dzięki temu możemy zapewnić najlpszej jakości sprzęt do siłowni
            </h4>
        </div>
    </div>
{% endblock container %}